APP_BASE_URL=https://folk-mart-1.onrender.com
API_BASE_URL=https://folk-mart.onrender.com
TEST_API_KEY=folkmartapikey

TEST_USER_USERNAME=user
TEST_USER_PASSWORD=user123
TEST_USER_EMAIL=user@folkmart.com
TEST_COUPON_CODE=WELCOME10

THINK_TIME_SECONDS=1
APPLY_COUPON=false
RACE_PRODUCT_ID=1
